absl-py==0.6.1
astor==0.7.1
bleach==1.5.0
chardet==2.3.0
command-not-found==0.3
gast==0.2.1.post0
grpcio==1.17.1
h5py==2.9.0
html5lib==0.9999999
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
language-selector==0.1
Markdown==3.0.1
numpy==1.15.4
opencv-contrib-python==3.4.0.12
opencv-python==3.4.0.12
Pillow==9.0.1
protobuf==3.6.1
pycurl==7.43.0
pygobject==3.20.0
PyOpenGL==3.0.2
python-apt==1.1.0b1+ubuntu0.16.4.2
python-debian==0.1.27
python-systemd==231
PyYAML==5.4
requests==2.9.1
six==1.12.0
ssh-import-id==5.5
tensorboard==1.12.2
tensorflow-gpu==1.12.0
termcolor==1.1.0
torch==0.3.1
torchvision==0.2.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
virtualenv==15.0.1
Werkzeug==0.14.1
